[submodule "Git-Training---Tanishq-"]
	path = Git-Training---Tanishq-
	url = https://github.com/Tanishq2607/Git-Training---Tanishq-
[submodule "ReactAssignment"]
	path = ReactAssignment
	url = https://github.com/Tanishq2607/ReactAssignment
[submodule "ReactAssignment2_ref"]
	path = ReactAssignment2_ref
	url = https://github.com/Tanishq2607/ReactAssignment2_ref
[submodule "API_Assignment"]
	path = API_Assignment
	url = https://github.com/Tanishq2607/API_Assignment
[submodule "Tanstack_Assignment"]
	path = Tanstack_Assignment
	url = https://github.com/Tanishq2607/Tanstack_Assignment
[submodule "Debug_Assignment"]
	path = Debug_Assignment
	url = https://github.com/Tanishq2607/Debug_Assignment
[submodule "07_Weekend_Assignment.git"]
	path = 07_Weekend_Assignment.git
	url = git@github.com:Tanishq2607/07_Weekend_Assignment.git
[submodule "08_CustomHooks_Assignment_Level_1.git"]
	path = 08_CustomHooks_Assignment_Level_1.git
	url = git@github.com:Tanishq2607/08_CustomHooks_Assignment_Level_1.git
[submodule "08_CustomHooks_Assignment_level2.git"]
	path = 08_CustomHooks_Assignment_level2.git
	url = git@github.com:Tanishq2607/08_CustomHooks_Assignment_level2.git
[submodule "09_Redux_Assignment_01.git"]
	path = 09_Redux_Assignment_01.git
	url = git@github.com:Tanishq2607/09_Redux_Assignment_01.git
[submodule "09_Redux_Assignment_2.git"]
	path = 09_Redux_Assignment_2.git
	url = git@github.com:Tanishq2607/09_Redux_Assignment_2.git
[submodule "09_Redux_Assignment_03.git"]
	path = 09_Redux_Assignment_03.git
	url = git@github.com:Tanishq2607/09_Redux_Assignment_03.git
[submodule "10_Assignment_useMemoHook.git"]
	path = 10_Assignment_useMemoHook.git
	url = git@github.com:Tanishq2607/10_Assignment_useMemoHook.git
[submodule "nextJS_PageRouter.git"]
	path = nextJS_PageRouter.git
	url = git@github.com:Tanishq2607/nextJS_PageRouter.git
[submodule "nextJS_PageRouter"]
	url = git@github.com:Tanishq2607/nextJS_PageRouter.git
[submodule "HTML_FORM_ASSIGNMENT"]
	path = HTML_FORM_ASSIGNMENT
	url = git@github.com:Tanishq2607/HTML_FORM_ASSIGNMENT.git
[submodule "HTML_TABLE_ASSIGNMENT"]
	path = HTML_TABLE_ASSIGNMENT
	url = git@github.com:Tanishq2607/HTML_TABLE_ASSIGNMENT.git
[submodule "Tailwind_CSS_Assignment"]
	path = Tailwind_CSS_Assignment
	url = git@github.com:Tanishq2607/Tailwind_CSS_Assignment.git
